{% load static %}
<!doctype html>
<html lang="ko">


{% include 'Bus project//head.html' %}

<!-- DEFAULT CSS LINK -->
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %} ">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">


<body>
{#  검색 창 header #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="padding-right: 800px">
        <a class="navbar-brand" href="#"></a><img src="https://i.ibb.co/VgymkTx/logo.png" alt="logo" border="0"
                                                  style="width: 250px;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="{{ query }}" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">submit</button>
            </form>
        </div>
    </div>
</nav>
{#    웹페이지 설명#}
{% for feed in feeds1 %}
    <div style="position : relative;">

        {% if feed.conv == 'g' %}
            <div class="green_box"></div>
        {% elif feed.conv == 'y' %}
            <div class="yellow_box"></div>
        {% else %}
            <div class="red_box"></div>
        {% endif %}

        <section class="article-detail table-common con ">
            <table class="cell">
                <tbody>

                <tr class="article-title">
                    <td colspan="3">{{ feed.name }}</td>
                </tr>

                <tr class="article-body">
                    <td colspan="4">{{ feed.explain }}</td>
                    <td colspan="4">{{ feed.detail }}</td>
                </tr>

                </tbody>
            </table>
        </section>
    </div>

{% endfor %}

<h1>저상버스로 가는 길찾기</h1>
{#API넣어둘 창은 왼쪽 / 댓글창은 오른쪽#}

{% for feed in feeds1 %}
    <div style="display: flex; flex-direction: row; text-align: center;">

        <div class="flex-container" style="width: 300px; height: 600px;">
            <!-- 출발지 입력 -->
            <form class="d-flex">
                <input class="form-control me-2 address" id="address_start" type="text" placeholder="출발지"
                       aria-label="Search">
                <button class="btn btn-outline-success" id="submit" type="button">submit</button>
            </form>
            <!-- Let's go 클릭해서 들어오면 도착지는 버튼 삭제함. 길찾기 홈페이지는 두 번 제출하는 식으로 할듯? -->
            <form class="d-flex">
                <input class="form-control me-2 address" id="address_arrive" type="text" value="{{ feed.address }}"
                       aria-label="Search" readonly/>
            </form>
        </div>

        <!-- DOM(div) 컨테이너의 크기로 지도 크기를 설정 -->
        <div id="map" style="width:100%;height:400px;"></div>
        <div style="width: 350px; height: 600px; border: solid 1px black;">
            <label>
                <textarea class="replyContent" placeholder="댓글 입력"></textarea>
                <button class="btnReply" type="submit">전송</button>
            </label>
        </div>
        <div style="width: 350px; padding :10px 0 15px 0 ; border: solid 1px black;">
            <table class="replyTable">
                <div> 내용</div>
                <tbody class="replyTbody" typeof="string">
                <!-- 기존 댓글 -->
                {% for r in reply_list %}
                    <br>
                    <tr>{{ r.reply_content }}</tr>
                {% endfor %}
                <!-- 새 댓글 -->
                {% for item in reply %}
                    <tr>
                        <td>{{ item.content }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endfor %}



<div>
    <div style="font-size: larger; margin-top: 10px">
        <b>-길찾기 정보</b>
    </div>
    <!-- OSRM API 응답 -->
    <div class="osrmResponse">
        <div>
            총 거리 및 소요 시간
            <br>
            <span id="totalDistance"></span>
            <br>
            <span id="totalDuration"></span>
        </div>
        <div style="font-size: larger; font-weight: bold; margin-top: 10px">
            -Waypoint(위도, 경도)
        </div>
        <table>
            <thead>
            <tr>
                <th>순번</th>
                <th>좌표</th>
            </tr>
            </thead>
            <tbody class="waypoints"></tbody>
            {# 나중에 append할 것임 #}
        </table>

    </div>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

    // 댓글 Post
    {% for feed in feeds1 %}
        const feed_id = {{ feed.id }};
    {% endfor %}

    let btnReply = document.querySelector('.btnReply');
    btnReply.addEventListener("click", function () {
        let content = document.getElementsByTagName('textarea')[0].value;  // 댓글 내용
        {#let content = document.querySelectorAll('.replyContent').values();#}
        let param = {
            'feedId': feed_id,
            'content': content,
        }
        $.ajax({
            url: '{%  url 'reply' %}',
            type: 'POST',
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(param),

            success: function (data) {
                console.log(data);
                let replyTable = document.querySelector('.replyTbody');
                let newTr = document.createElement('tr');
                let str = ` <td>${data.content}</td>`;
                newTr.innerHTML = str;
                replyTable.prepend
                (newTr);
            },
            error: function () {
                alert('error');
            }
        });
    });

    // Naver API - OSRM API
    var max_loc = new naver.maps.LatLngBounds(
        new naver.maps.LatLng(37.54, 126.90), //중구 서대문구 종로구
        new naver.maps.LatLng(37.63, 127.02));

    var map = new naver.maps.Map("map", {
        minZoom: 13, // 구 레벨
        maxBounds: max_loc,
    });

    // 저상버스 경로
    var polyline = new naver.maps.Polyline({
        map: map,
        path: [],
        strokeColor: '#BF350C',
        strokeWeight: 5
    });


    // 출발지 도보 경로
    var polyline_1 = new naver.maps.Polyline({
        map: map,
        path: [],
        strokeColor: '#000000',
        strokeWeight: 5
    });

    // 도착지 도보 경로
    var polyline_2 = new naver.maps.Polyline({
        map: map,
        path: [],
        strokeColor: '#827717',
        strokeWeight: 5
    });

    let start_lat = '';
    let start_lon = '';
    let arrive_lat = '';
    let arrive_lon = '';

    // 주소 입력 후 submit 연쇄 작용 시작..
    $('#submit').on('click', function (e) {
        e.preventDefault();
        const address = [$('#address_start').val(), $('#address_arrive').val()];  // 최신 입력이 먼저 들어가서
        searchAddressToCoordinate(address);
    });

    //다음 포스트 코드
    $('#address_start').on('click', function (e) {
        new daum.Postcode({
            oncomplete: function (data) { //선택시 입력값 세팅
                document.getElementById("address_start").value = data.address; // 주소 넣기
                // document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
            }
        }).open({autoClose: true});
    });
    window.onload = function () {
        document.getElementById("address_arrive").addEventListener("click", function () { //주소입력칸을 클릭하면
            //카카오 지도 발생
            new daum.Postcode({
                oncomplete: function (data) { //선택시 입력값 세팅
                    document.getElementById("address_arrive").value = data.address; // 주소 넣기
                    // document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
                }
            }).open({autoClose: true});
        });
    }

    // 주소 검색하는 부분(실질적인 로직) -> insertAddress 함수로 넘겨줌.
    function searchAddressToCoordinate(address) {
        for (let i = 0; i < 2; i++) {
            naver.maps.Service.geocode({
                query: address[i]
            }, function (status, response) {
                if (status === naver.maps.Service.Status.ERROR) { // 그냥 서버가 에러
                    return alert('Something Wrong!');
                }
                if (response.v2.meta.totalCount === 0) { //검색 결과 없을 때
                    return alert('올바른 주소를 입력해주세요.');
                }
                var htmlAddresses = [],
                    item = response.v2.addresses[0],
                    point = new naver.maps.Point(item.x, item.y);  // point 저장

                if (address[i] === address[0]) {
                    start_lon += item.x;  // item.x: 경도
                    start_lat += item.y;  // item.y: 위도

                } else {
                    arrive_lon += item.x;
                    arrive_lat += item.y;
                }

                if (start_lat < 37.54 || start_lat > 37.63) {
                    alert("위도를 다시 입력하세요");
                }
                if (arrive_lat < 37.54 || arrive_lat > 37.63) {
                    alert("위도를 다시 입력하세요");
                }

                if (item.roadAddress) {
                    htmlAddresses.push('[도로명 주소]' + item.roadAddress);
                }
                if (item.jibunAddress) {
                    htmlAddresses.push('[지번 주소]' + item.jibunAddress);
                }
                if (item.englishAddress) {
                    htmlAddresses.push('[영문명 주소]' + item.englishAddress);
                }
                console.log("출발지 위경도, 목적지 위경도", start_lon, start_lat, arrive_lon, arrive_lat)
                searchRoot(start_lon, start_lat, arrive_lon, arrive_lat);
            });
        } // 반복문 끝
        let i = 0;
    }

    async function searchRoot(a, b, c, d) {
        //오디세이 API 호출
        let url =
            "https://api.odsay.com/v1/api/searchPubTransPathT?SX=" +
            a +
            "&SY=" +
            b +
            "&EX=" +
            c +
            "&EY=" +
            d +
            "&apiKey=tAVo2/qjrq9QIwIPVRbHJNhA5/dTdymsPEN3jwOgkiU";

        try {
            //길찾기 결과 가져오기
            let res = await fetch(url);
            let response = await res.json();
            console.log("길찾기 결과", response);

            let path = response.result.path;

            for (let i = 0; i <= path.length; i++) {
                let pathtype = response.result.path[i].pathType; //경로 타입
                let busid = response.result.path[i].subPath[1].lane[0].busID; //버스 아이디
                let mapobj = response.result.path[i].info.mapObj; //경로 코드
                let time = response.result.path[i].info.totalTime; //시간
                let dis = response.result.path[i].info.totalDistance; //거리
                let pay = response.result.path[i].info.payment; //요금

                //경로 그리기
                if (pathtype === 2) {
                    let busno = response.result.path[i].subPath[1].lane[0].busNo;
                    let lowbus = await checkLowBus(busid);
                    if (lowbus === "Y") {
                        let start_bus = response.result.path[i].subPath[1].startX; // 시작 정류장 경도
                        let end_bus = response.result.path[i].subPath[1].endX;

                        drawMap(mapobj);
                        console.log(
                            "저상버스 경로 \n 버스 번호:" + busno +
                            " 시간:" + time + "분" +
                            " 거리:" + dis + "미터" +
                            " 요금:" + pay + "원");
                        break;
                    }
                } else {
                    drawMap(mapobj);
                    console.log(
                        "지하철 경로 \n 시간:" + time + "분" +
                        " 거리:" + dis + "미터" +
                        " 요금:" + pay + "원");
                    break;
                }
            }
        } catch (error) {
            console.log(error);
        }
    }

    // 저상버스가 있는지 확인하는 함수
    async function checkLowBus(busID) {
        //오디세이 API 호출
        let url =
            "https://api.odsay.com/v1/api/realtimeRoute?busID=" +
            busID +
            "&busBase=0&lowBus=1&apiKey=tAVo2/qjrq9QIwIPVRbHJNhA5/dTdymsPEN3jwOgkiU";

        try {
            //실시간 위치 정보 결과 가져오기
            let obj = await fetch(url);
            let object = await obj.json();
            console.log("저상버스 결과", object);

            let chk = object.result.real[0].lowBusYn; //저상버스 여부 (Y/N)

            return chk;
        } catch (error) {
            console.log(error);
        }
    }

    // 경로 그리는 함수
    async function drawMap(mabObj) {
        //오디세이 API 호출
        let url =
            "https://api.odsay.com/v1/api/loadLane?mapObject=0:0@" +
            mabObj +
            "&apiKey=tAVo2/qjrq9QIwIPVRbHJNhA5/dTdymsPEN3jwOgkiU";

        try {
            //경로 중간 좌표 가져오기
            let m = await fetch(url);
            let ma = await m.json();
            console.log("중간좌표", ma);

            drawNaverPolyLine(ma); // 노선그래픽데이터 지도위 표시

            // boundary 데이터가 있을경우, 해당 boundary로 지도이동
            if (ma.result.boundary) {
                var boundary = new naver.maps.LatLngBounds(
                    new naver.maps.LatLng(
                        ma.result.boundary.top,
                        ma.result.boundary.left
                    ),
                    new naver.maps.LatLng(
                        ma.result.boundary.bottom,
                        ma.result.boundary.right
                    )
                );
                map.panToBounds(boundary);
            }
        } catch (error) {
            console.log(error);
        }
    }

    // 지도위 마커 표시해주는 함수
    function drawNaverMarker(x, y) {
        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(y, x),
            map: map,
        });
    }

    // 노선그래픽 데이터를 이용하여 지도위 폴리라인 그려주는 함수  osrm 연결?
    function drawNaverPolyLine(data) {
        var path = polyline.getPath();  // 오디세이 path
        var path_1 = []
        for (var i = 0; i < data.result.lane.length; i++) {
            for (var j = 0; j < data.result.lane[i].section.length; j++) {
                for (
                    var k = 0;
                    k < data.result.lane[i].section[j].graphPos.length;
                    k++
                ) {
                    path.push(
                        new naver.maps.LatLng(
                            data.result.lane[i].section[j].graphPos[k].y,
                            data.result.lane[i].section[j].graphPos[k].x
                        )
                    );

                    path_1.push(
                        new naver.maps.LatLng(
                            data.result.lane[i].section[j].graphPos[k].y,
                            data.result.lane[i].section[j].graphPos[k].x
                        )
                    );
                }
            }
        }

        // 출발지 마커, 출발지 ~ 출발 정류장 OSRM 전달
        // console.log('sendcoordinate start 파라미터', start_lon, start_lat, path_1[0].x, path_1[0].y);
        drawNaverMarker(start_lon, start_lat);
        SendCoordinate(start_lon, start_lat, path_1[0].x, path_1[0].y);

        // 도착지 마커, 도착 ~ 도착 정류장 OSRM 전달
        // console.log('sendcoordinate arrive 파라미터', arrive_lon, arrive_lat, path_1[path_1.length - 1].x, path_1[path_1.length - 1].y)
        drawNaverMarker(arrive_lon, arrive_lat);
        SendCoordinate(arrive_lon, arrive_lat, path_1[path_1.length - 1].x, path_1[path_1.length - 1].y);
    }

    // 좌표들을 OSRM API에 보내서 waypoint, steps 좌표 얻기
    function SendCoordinate(start_lon_1, start_lat_1, arrive_lon_1, arrive_lat_1) {
        let path;

        // start_lon_1 값이, 사용자가 입력한 전역 변수 도착지 lon이면
        if (start_lon_1 === arrive_lon) {
            path = polyline_2.getPath()  // 도착지 ~ 정류장 path
        } else {
            path = polyline_1.getPath()  // 출발지 ~ 정류장 path
        }

        var starter = [];
        var finisher = [];
        let Parms = '';

        Parms += start_lon_1;
        Parms += ',' + start_lat_1;
        Parms += ';' + arrive_lon_1;
        Parms += ',' + arrive_lat_1;
        Parms += '?steps=true'

        // url에 이어서 전송
        // 지금은 도커를 이용해 local에서 백엔드 실행하고 나서야 api 호출을 할 수 있지만. 배포할 땐 aws로 상시호출가능?
        $.ajax({
            url: 'http://127.0.0.1:5000/route/v1/foot/' + Parms,
            method: 'GET',
            dataType: 'json', //서버에서 보내줄 데이터 타입
            success: function (data) {
                console.log('성공');
            }
            ,
            error: function (request, status, error) {
                console.log(request, status, error)
            }
            ,
            complete: function () {
                console.log("종료")
            }
        }).done(function (json) {   // steps와 waypoints parsing, marker찍는 함수로 연결까지
            var osrm_json = JSON.parse(JSON.stringify(json));
            var osrm_steps = osrm_json.routes[0].legs[0].steps;
            var osrm_waypoints = osrm_json.waypoints;
            let index;

            // 총 거리 및 소요시간 parsing
            document.getElementById('totalDistance').innerHTML = '총 거리: ' + osrm_json.routes[0].distance + 'm';
            document.getElementById('totalDuration').innerHTML = '총 소요시간: ' + osrm_json.routes[0].duration + '초';

            starter = osrm_waypoints[0].location
            finisher = osrm_waypoints[1].location

            console.log('osrm starter는 ', starter);
            path.push(new naver.maps.LatLng(starter[1], starter[0]));

            for (index = 1; index <= osrm_steps.length; index++) {
                path.push(new naver.maps.LatLng(osrm_steps[index - 1].maneuver.location[1], osrm_steps[index - 1].maneuver.location[0]))
            }

            console.log('osrm finisher는 ', finisher);
            path.push(new naver.maps.LatLng(finisher[1], finisher[0]));
        });
    }


</script>
</body>
</html>