{% load static %}
<!doctype html>
<html lang="ko">


{% include 'Bus project//head.html' %}

<!-- DEFAULT CSS LINK -->
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %} ">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">


<body>
{#  검색 창 header #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="padding-right: 800px">
        <a class="navbar-brand" href="#"></a><img src="https://i.ibb.co/VgymkTx/logo.png" alt="logo" border="0"
                                                  style="width: 250px;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="{{ query }}" aria-label="Search"
                       style="width: 300px; height: 40px; border-radius: 20px; padding-inline-start: 20px;">
                <button class="btn btn-outline-success" type="submit" style="  border: none "><i class="fas fa-search"
                                                                                                 style="font-size: 25px; color: gray ;text-shadow: 1px 1px 1px gray"></i>
                </button>
            </form>
        </div>
    </div>
</nav>
{#    웹페이지 설명#}
{% for feed in feeds1 %}
    <div style="position : relative;">

        {% if feed.conv == 'g' %}
            <div class="green_box"></div>
        {% elif feed.conv == 'y' %}
            <div class="yellow_box"></div>
        {% else %}
            <div class="red_box"></div>
        {% endif %}

        <div style="  margin-left:50px ; font-size: 30px;  margin-top: 20px ; padding-bottom: 20px ; text-shadow: 1px 1px 1px gray;  font-family: 'Nanum Gothic Coding'">{{ feed.name }}</div>
        <table>


            <style>
                table {
                    width: 100%;
                    border: 1px solid lightgray;
                    font-family: "Nanum Gothic Coding";
                    border-spacing: 5px;

                }

                th, td {
                    border: 1px solid lightgray;
                    width: 30%;
                    padding: 8px;

                }

                tr.colored:nth-child(even) {


                    font-size: 19px;
                    height: 80px;

                    color: #696969;

                }

                tr.colored:nth-child(odd) {
                    font-size: 21px;
                    height: 45px;
                    padding: 20px;
                    text-shadow: 1px 1px 1px gray


                }
            </style>


            <tr class="colored">
                <td><span class="material-symbols-outlined" style="font-size: 34px ; color: #565656  "> pin_drop </span>
                    장소설명
                </td>
                <td><span class="material-symbols-outlined"
                          style="font-size: 43px ; color: #565656 ; ">accessible </span>
                    접근성
                </td>
            </tr>
            <tr class="colored">
                <td>{{ feed.explain }}</td>
                <td>{{ feed.detail }}</td>
            </tr>

        </table>
    </div>

{% endfor %}


<h1 style="font-family: 'Gowun Dodum', sans-serif; font-size: 35px; clear: left ; padding: 20px; margin-left: 10px;text-shadow: 1.2px 1.2px 1.2px gray ;">
    대중교통 타고 Let's go~! </h1>
{#API넣어둘 창은 왼쪽 / 댓글창은 오른쪽#}

{% for feed in feeds1 %}
    <div style="display: flex; flex-direction: row; justify-content: center;">


        <!-- 주소 입력 및 결과 -->
        <div class="flex-container" style="width: 300px; height: 600px;">
            <form class="d-flex">
                <input class="form-control me-2" id="address_start" type="search" placeholder="출발지" aria-label="Search"
                       style="border-radius: 10px ; margin-bottom: 38px ;  border: solid 2px lightgray ">
                <button class="btn btn-outline-success" type="submit" id="submit"
                        style="width: 70px; background: #808080; margin-bottom: 38px; border-radius:20px; border:none; color: white ;text-shadow: 1.2px 1.2px 1.2px gray; box-shadow: inset 0 1px 0 0 #565656;">
                    입력
                </button>
            </form>

            <form class="d-flex">
                <input class="form-control me-2" id="address_arrive" type="search" value="{{ feed.address }}"
                       aria-label="Search"
                       style=" border-radius: 10px ; border: solid 2px lightgray; background-color: white" readonly>
            </form>

            <!-- 경로 안내 -->
            <style>
                .locating_bold {
                    font-size: 20px;
                    font-family: "Nanum Gothic Coding";
                    padding: 8px;
                    text-shadow: 1px 1px 1px gray;
                }

                .locating-detail {
                    font-size: 17px;
                    font-family: "Nanum Gothic Coding";
                    color: #565656;
                    padding: 9px;
                    line-height: 30px;
                }
            </style>
            <div style="margin-top: 70px">
                <div style="text-align: center; font-size: 20px; font-weight: bold">경로 찾기</div>
                <hr>
                <div style="font-size: 11px; color: gray; text-align: right">(전동휠체어 기준)</div>
                <div class="locating_bold"><span class="material-symbols-outlined" style="font-size: 30px">accessible_forward</span>
                    도보
                </div>
                <div class="locating-detail" id="start_walking"></div>


                <div class="locating_bold"><img src="https://cdn-icons-png.flaticon.com/512/3514/3514299.png"
                                                style="width: 28px; height: 28px"> 버스
                </div>
                <div class="locating-detail" id="first_bus"></div>
                <div class="locating-detail" id="second_bus"></div>

                <div class="locating_bold"><span class="material-symbols-outlined" style="font-size: 30px">subway</span>
                    지하철
                </div>
                <div class="locating-detail" id="first_subway"></div>
                <div class="locating-detail" id="second_subway"></div>

                <div class="locating_bold"><span class="material-symbols-outlined" style="font-size: 30px">accessible_forward</span>
                    도보
                </div>
                <div class="locating-detail" id="arrive_walking"></div>
            </div>
        </div>

        <!-- DOM(div) 컨테이너의 크기로 지도 크기를 설정   style="width: 350px; height: 600px; border: solid 1px black;" -->
        <div id="map" style="width:1150px;height:600px;margin: 0 30px"></div>

        <!-- 댓글 입력 칸 -->
        <div>
            <h3 style="font-size: 23px ; font-family: Nanum Gothic Coding ">코멘트 <span class="material-symbols-outlined"
                                                                                      style="font-size: 30px ; ">chat_add_on</span>
            </h3>
            <label>
                <textarea class="replyContent" placeholder="댓글 입력"></textarea>
            </label>
            <button class="btnReply" type="submit">입력</button>
            <table class="replyTable">
                <tbody class="replyTbody" typeof="string">

                <!— 댓글 불러오기 —>
                {% for r in reply_list %}
                    <br>
                    <tr>{{ r.reply_content }}</tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endfor %}


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

    // 댓글 Post
    {% for feed in feeds1 %}
        const feed_id = {{ feed.id }};
        const feed_lat = {{ feed.latitude }};
        const feed_lon = {{ feed.longitude }};
    {% endfor %}

    let btnReply = document.querySelector('.btnReply');
    btnReply.addEventListener("click", function () {
        let content = document.getElementsByTagName('textarea')[0].value;  // 댓글 내용
        $('.replyContent').val(''); // 댓글창 내용 초기화
        let param = {
            'feedId': feed_id,
            'content': content,
        }
        $.ajax({
            url: '{%  url 'reply' %}',
            type: 'POST',
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(param),

            success: function (data) {
                console.log(data);
                let replyTable = document.querySelector('.replyTbody');
                let newTr = document.createElement('tr');
                let str = ` <td>${data.content}</td>`;
                newTr.innerHTML = str;
                replyTable.prepend
                (newTr);
            },
            error: function () {
                alert('error');
            }
        });
    });

    // Naver API - OSRM API
    var max_loc = new naver.maps.LatLngBounds(
        new naver.maps.LatLng(37.54, 126.90), //중구 서대문구 종로구
        new naver.maps.LatLng(37.63, 127.02));

    var map = new naver.maps.Map("map", {
        center: new naver.maps.LatLng(feed_lat, feed_lon), // ex. 안녕인사동 좌표에서 시작
        minZoom: 13, // 구 레벨
        maxBounds: max_loc,
    });

    drawNaverMarker(feed_lon, feed_lat);

    // 저상버스 경로
    var polyline = new naver.maps.Polyline({
        map: map,
        path: [],
        strokeColor: '#BF350C',
        strokeWeight: 10
    });


    // 출발지 도보 경로
    var polyline_1 = new naver.maps.Polyline({
        map: map,
        path: [],
        strokeColor: '#696969',
        strokeWeight: 10
    });

    // 도착지 도보 경로
    var polyline_2 = new naver.maps.Polyline({
        map: map,
        path: [],
        strokeColor: '#696969',
        strokeWeight: 10
    });

    let start_lat = '';
    let start_lon = '';
    let arrive_lat = '';
    let arrive_lon = '';

    // 주소 입력 후 submit 연쇄 작용 시작..
    $('#submit').on('click', function (e) {
        e.preventDefault();
        const address = [$('#address_start').val(), $('#address_arrive').val()];  // 최신 입력이 먼저 들어가서
        searchAddressToCoordinate(address);
    });

    //다음 포스트 코드
    $('#address_start').on('click', function (e) {
        new daum.Postcode({
            oncomplete: function (data) { //선택시 입력값 세팅
                document.getElementById("address_start").value = data.address; // 주소 넣기
                // document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
            }
        }).open({autoClose: true});
    });

    // 주소 검색하는 부분(실질적인 로직) -> insertAddress 함수로 넘겨줌.
    function searchAddressToCoordinate(address) {
        for (let i = 0; i < 2; i++) {
            naver.maps.Service.geocode({
                query: address[i]
            }, function (status, response) {
                if (status === naver.maps.Service.Status.ERROR) { // 그냥 서버가 에러
                    return alert('Something Wrong!');
                }
                if (response.v2.meta.totalCount === 0) { //검색 결과 없을 때
                    return alert('올바른 주소를 입력해주세요.');
                }
                var htmlAddresses = [],
                    item = response.v2.addresses[0],
                    point = new naver.maps.Point(item.x, item.y);  // point 저장

                if (address[i] === address[0]) {
                    start_lon += item.x;  // item.x: 경도
                    start_lat += item.y;  // item.y: 위도

                } else {
                    arrive_lon += item.x;
                    arrive_lat += item.y;
                }


                if (item.roadAddress) {
                    htmlAddresses.push('[도로명 주소]' + item.roadAddress);
                }
                if (item.jibunAddress) {
                    htmlAddresses.push('[지번 주소]' + item.jibunAddress);
                }
                if (item.englishAddress) {
                    htmlAddresses.push('[영문명 주소]' + item.englishAddress);
                }
                console.log("출발지 위경도, 목적지 위경도", start_lon, start_lat, arrive_lon, arrive_lat)
                searchRoot(start_lon, start_lat, arrive_lon, arrive_lat);
            });
        } // 반복문 끝
        let i = 0;
    }

    async function searchRoot(a, b, c, d) {
        //오디세이 API 호출
        let url =
            "https://api.odsay.com/v1/api/searchPubTransPathT?SX=" +
            a +
            "&SY=" +
            b +
            "&EX=" +
            c +
            "&EY=" +
            d +
            "&apiKey=tAVo2/qjrq9QIwIPVRbHJNhA5/dTdymsPEN3jwOgkiU";

        try {
            //길찾기 결과 가져오기
            let res = await fetch(url);
            let response = await res.json();
            let path = await response.result.path;
            console.log("길찾기 결과", path);

            for (let i = 0; i <= path.length; i++) {
                let pathtype = response.result.path[i].pathType; //경로 타입
                let busid = response.result.path[i].subPath[1].lane[0].busID; //버스 아이디
                let mapobj = response.result.path[i].info.mapObj; //경로 코드
                let dis = response.result.path[i].info.totalDistance; //거리


                // pathtype으로 버스인지, 지하철인지, 지하철+버스인지 구분
                if (pathtype === 2) {  // pathtype: 2 버스
                    let time = response.result.path[i].info.totalTime; //시간
                    let Infos_bus = [];
                    let busno = response.result.path[i].subPath[1].lane[0].busNo;
                    let lowbus = await checkLowBus(busid);  // 저상버스만 가져올 것임
                    if (lowbus === "Y") {
                        drawMap(mapobj);

                        let first_station_1 = response.result.path[i].subPath[1].startName;//첫번째 정류장
                        let last_station_1 = response.result.path[i].subPath[1].endName; // 마지막 정류장
                        let count_stop = response.result.path[i].info.totalStationCount;// 이동 정류장 개수

                        Infos_bus.push(String(first_station_1));
                        Infos_bus.push(String(last_station_1));
                        Infos_bus.push(String(count_stop));
                        Infos_bus.push(String(busno));
                        //Infos_bus.push(String(dis)); //거리 infos[4]

                        document.getElementById("first_bus").innerHTML = "저상버스: " + Infos_bus[3] + "<br>출발 정류장: " + Infos_bus[0] + "<br>도착 정류장: " + Infos_bus[1] + "<br>총 정류장 개수: " + Infos_bus[2];

                        // 환승여부 확인
                        let subPath = response.result.path[i].subPath
                        if (subPath.length === 5) {  // 환승 있으면 subPath: 5, 환승 없으면 subPath: 3
                            let first_station_2 = subPath[3].startName; // 환승 첫번째 정류장
                            let last_station_2 = subPath[3].endName; // 환승 도착 정류장
                            let busno_2 = subPath[3].lane[0].busNo; //
                            Infos_bus.push(first_station_2);//infos[5]
                            Infos_bus.push(last_station_2);//infos[6]
                            Infos_bus.push(busno_2); // infos[7]

                            drawNaverMarker(subPath[1].endX, subPath[1].endY);
                            document.getElementById("second_bus").innerHTML = "환승: " + Infos_bus[6] + "<br>출발 정류장: " + Infos_bus[4] + "<br>도착 정류장: " + Infos_bus[5];
                        }

                        console.log("버스정보" + Infos_bus);
                        break;
                    }
                } else if (pathtype === 1) {  // pathtype: 1 지하철
                    drawMap(mapobj);

                    let subway = response.result.path[i]
                    let subway_dis = subway.info.totalDistance;
                    let Infos_subway = [];
                    Infos_subway.push(subway_dis); // 지하철 총 거리

                    for (let i = 0; i < subway.subPath.length; i++) {
                        if (subway.subPath[i].trafficType === 3) {  // trafficType: 3 도보 1: 지하철
                            continue
                        }

                        let endName_S = subway.subPath[i].endName;
                        let startName_S = subway.subPath[i].startName;
                        let Sub_name = subway.subPath[i].lane[0].name;
                        console.log("sub_name은", Sub_name);

                        try {
                            Infos_subway.push(Sub_name.substring(3));
                            Infos_subway.push(endName_S);
                            Infos_subway.push(startName_S);
                        } catch (e) {
                        }
                    }
                    document.getElementById("first_subway").innerHTML = "지하철:" + Infos_subway[1] + "<br>출발역: " + Infos_subway[3] + "<br>도착역: " + Infos_subway[2];

                    if (Infos_subway.length === 7) {
                        drawNaverMarker(subway.subPath[1].endX, subway.subPath[1].endY);
                        document.getElementById("second_subway").innerHTML = "환승: " + Infos_subway[4] + "<br>출발역: " + Infos_subway[6] + "<br>도착역: " + Infos_subway[5];
                    }
                    break;

                } else if (pathtype === 3) {  // 버스 + 지하철 종합
                    drawMap(mapobj);

                    let bus_subway = response.result.path[i]
                    // let both_dis = bus_subway.info.totalDistance;
                    let Infos_bus = [];
                    let Infos_subway = [];
                    // Infos_both.push(both_dis); // 총 거리. Infos_both[0]

                    if (bus_subway.subPath.length === 5) {
                        drawNaverMarker(bus_subway.subPath[1].endX, bus_subway.subPath[1].endY);
                    }

                    for (let i = 0; i < bus_subway.subPath.length; i++) {
                        if (bus_subway.subPath[i].trafficType === 1) {  // trafficType: 1: 지하철 2: 버스 3 도보
                            let endName_S = bus_subway.subPath[i].endName;
                            let startName_S = bus_subway.subPath[i].startName;
                            let Sub_name = bus_subway.subPath[i].lane[0].name;
                            console.log("sub_name은", Sub_name);

                            try {
                                Infos_subway.push(Sub_name.substring(3));  // 역이름, Infos_subway[0]
                                Infos_subway.push(endName_S);  // 도착역, Infos_subway[1]
                                Infos_subway.push(startName_S); // 출발역, Infos_subway[2]

                                document.getElementById("first_subway").innerHTML = "지하철: " + Infos_subway[0] + "<br>출발역: " + Infos_subway[2] +
                                    "<br>도착역: " + Infos_subway[1];

                            } catch (e) {
                            }

                        } else if (bus_subway.subPath[i].trafficType === 2) {
                            let busno = response.result.path[i].subPath[i].lane[0].busNo;
                            // let lowbus = await checkLowBus(busid);  // 저상버스만 가져올 것임---나중에
                            // if (lowbus === "Y") {
                            //    drawMap(mapobj);

                            let first_station_1 = response.result.path[i].subPath[1].startName;//첫번째 정류장
                            let last_station_1 = response.result.path[i].subPath[1].endName; // 마지막 정류장
                            let count_stop = response.result.path[i].info.totalStationCount;// 이동 정류장 개수

                            Infos_bus.push(String(first_station_1)); // Infos_bus[0] 첫번째 정류장
                            Infos_bus.push(String(last_station_1)); // Infos_bus[1] 마지막 정류장
                            Infos_bus.push(String(count_stop)); // Infos_bus[2] 이동 정류장 개수
                            Infos_bus.push(String(busno)); // Infos_bus[3] 버스 번호
                            // Infos_bus.push(String(dis)); //거리 infos[4]

                            // 환승여부 확인
                            document.getElementById("first_bus").innerHTML = "저상버스: " + Infos_bus[3] + "<br>출발 정류장: " + Infos_bus[0] + "<br>도착 정류장: " + Infos_bus[1]
                                + "<br> 총 정류장 개수: " + Infos_bus[2];


                            //} else {
                            //    continue
                            //}
                        }
                        if (Infos_subway.length === 7) {   // length로 환승 구분
                            document.getElementById("second_subway").innerHTML = "환승: " + Infos_both[4] + "<br>출발역: " + Infos_both[6] + "<br>도착역: " + Infos_both[5];
                        }
                    }
                    break;
                }
            }
        } catch
            (error) {
            console.log(error);
        }
    }

    // 저상버스가 있는지 확인하는 함수
    async function checkLowBus(busID) {
        //오디세이 API 호출
        let url =
            "https://api.odsay.com/v1/api/realtimeRoute?busID=" +
            busID +
            "&busBase=0&lowBus=1&apiKey=tAVo2/qjrq9QIwIPVRbHJNhA5/dTdymsPEN3jwOgkiU";

        try {
            //실시간 위치 정보 결과 가져오기
            let obj = await fetch(url);
            let object = await obj.json();
            console.log("저상버스 결과", object);

            let chk = object.result.real[0].lowBusYn; //저상버스 여부 (Y/N)

            return chk;
        } catch (error) {
            console.log(error);
        }
    }

    // 경로 그리는 함수
    async function drawMap(mabObj) {
        //오디세이 API 호출
        let url =
            "https://api.odsay.com/v1/api/loadLane?mapObject=0:0@" +
            mabObj +
            "&apiKey=tAVo2/qjrq9QIwIPVRbHJNhA5/dTdymsPEN3jwOgkiU";

        try {
            //경로 중간 좌표 가져오기
            let m = await fetch(url);
            let ma = await m.json();
            console.log("중간좌표", ma);

            drawNaverPolyLine(ma); // 노선그래픽데이터 지도위 표시

            // boundary 데이터가 있을경우, 해당 boundary로 지도이동
            if (ma.result.boundary) {
                var boundary = new naver.maps.LatLngBounds(
                    new naver.maps.LatLng(
                        ma.result.boundary.top,
                        ma.result.boundary.left
                    ),
                    new naver.maps.LatLng(
                        ma.result.boundary.bottom,
                        ma.result.boundary.right
                    )
                );
                map.panToBounds(boundary);
            }
        } catch (error) {
            console.log(error);
        }
    }

    // 지도위 마커 표시해주는 함수
    function drawNaverMarker(x, y) {
        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(y, x),
            map: map,
        });
    }

    // 노선그래픽 데이터를 이용하여 지도위 폴리라인 그려주는 함수  osrm 연결?
    function drawNaverPolyLine(data) {
        var path = polyline.getPath();  // 오디세이 path
        var path_1 = []
        for (var i = 0; i < data.result.lane.length; i++) {
            for (var j = 0; j < data.result.lane[i].section.length; j++) {
                for (
                    var k = 0;
                    k < data.result.lane[i].section[j].graphPos.length;
                    k++
                ) {
                    path.push(
                        new naver.maps.LatLng(
                            data.result.lane[i].section[j].graphPos[k].y,
                            data.result.lane[i].section[j].graphPos[k].x
                        )
                    );

                    path_1.push(
                        new naver.maps.LatLng(
                            data.result.lane[i].section[j].graphPos[k].y,
                            data.result.lane[i].section[j].graphPos[k].x
                        )
                    );
                }
            }
        }

        // 출발지 마커, 출발지 ~ 출발 정류장 OSRM 전달
        // console.log('sendcoordinate start 파라미터', start_lon, start_lat, path_1[0].x, path_1[0].y);
        drawNaverMarker(start_lon, start_lat);
        SendCoordinate(start_lon, start_lat, path_1[0].x, path_1[0].y);

        // 도착지 마커, 도착 ~ 도착 정류장 OSRM 전달
        // console.log('sendcoordinate arrive 파라미터', arrive_lon, arrive_lat, path_1[path_1.length - 1].x, path_1[path_1.length - 1].y)
        drawNaverMarker(arrive_lon, arrive_lat);
        SendCoordinate(arrive_lon, arrive_lat, path_1[path_1.length - 1].x, path_1[path_1.length - 1].y);
    }

    // 좌표들을 OSRM API에 보내서 waypoint, steps 좌표 얻기
    function SendCoordinate(start_lon_1, start_lat_1, arrive_lon_1, arrive_lat_1) {
        let path;

        // start_lon_1 값이, 사용자가 입력한 전역 변수 도착지 lon이면
        if (start_lon_1 === arrive_lon) {
            path = polyline_2.getPath()  // 도착지 ~ 정류장 path
        } else {
            path = polyline_1.getPath()  // 출발지 ~ 정류장 path
        }

        var starter = [];
        var finisher = [];
        let Parms = '';

        Parms += start_lon_1;
        Parms += ',' + start_lat_1;
        Parms += ';' + arrive_lon_1;
        Parms += ',' + arrive_lat_1;
        Parms += '?steps=true'

        // url에 이어서 전송
        // 지금은 도커를 이용해 local에서 백엔드 실행하고 나서야 api 호출을 할 수 있지만. 배포할 땐 aws로 상시호출가능?
        $.ajax({
            url: 'http://127.0.0.1:5000/route/v1/foot/' + Parms,
            method: 'GET',
            dataType: 'json', //서버에서 보내줄 데이터 타입
            success: function (data) {
                console.log('성공');
            }
            ,
            error: function (request, status, error) {
                console.log(request, status, error)
            }
            ,
            complete: function () {
                console.log("종료")
            }
        }).done(function (json) {   // steps와 waypoints parsing, marker찍는 함수로 연결까지
            var osrm_json = JSON.parse(JSON.stringify(json));
            var osrm_steps = osrm_json.routes[0].legs[0].steps;
            var osrm_waypoints = osrm_json.waypoints;
            let osrm_duration = (osrm_json.routes[0].duration/2.7).toFixed(1)  // 전동 휠체어 속력: 2.7m/s
            let duration_minute = (osrm_duration/60).toFixed(1)
            let index;

            // 총 거리 및 소요시간 parsing
            if (start_lon_1 === arrive_lon) {
                document.getElementById('arrive_walking').innerHTML = '-도착' + '<br>총 거리: ' + osrm_json.routes[0].distance + 'm'
                    + '<br>총 소요시간: ' + duration_minute + '분'; // 도착지 ~ 정류장 path
            } else {
                document.getElementById('start_walking').innerHTML = '-출발' + '<br>총 거리: ' + osrm_json.routes[0].distance + 'm'
                    + '<br>총 소요시간: ' + duration_minute + '분'; // 출발지 ~ 정류장 path
            }

            starter = osrm_waypoints[0].location
            finisher = osrm_waypoints[1].location

            console.log('osrm starter는 ', starter);
            path.push(new naver.maps.LatLng(starter[1], starter[0]));

            for (index = 1; index <= osrm_steps.length; index++) {
                path.push(new naver.maps.LatLng(osrm_steps[index - 1].maneuver.location[1], osrm_steps[index - 1].maneuver.location[0]))
            }

            console.log('osrm finisher는 ', finisher);
            path.push(new naver.maps.LatLng(finisher[1], finisher[0]));
        });
    }

</script>
</body>
</html>